
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Detail</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Sota</td>
            <td><a href="/home/detail?id=1&name=Sota">Detail</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Chenda</td>
            <td><a href="/home/detail?id=2&name=chenda">Detail</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Leap</td>
            <td><a href="/home/detail?id=3&name=leap">Detail</a></td>
        </tr>
    </tbody>
</table>

